<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>International</title>
</head>
<body>
<h1 th:text="#{greeting}"></h1>
<span th:text="#{lang.change}"></span>:
<select id="locales">
    <option value=""></option>
    <option value="eng" th:text="#{lang.eng}"></option>
    <option value="ru" th:text="#{lang.ru}"></option>
</select>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            if (selectedOption != ''){
                window.location.replace('international?lang=' + selectedOption);
            }
        });
    });
</script>
</body>
</html>